<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <footer class="footer">
        <div class="footer-content">
            <p class="text-center"> IntroAct - Introcomp Activities </p>
            <p class="text-center"> CT7 UFES, Avenida Fernando Ferrari, 514, Goiabeiras, Vitória-ES </p>
            <nav class="footer-nav">
                <a th:href="@{/index}">Página Inicial</a>
                <a th:href="@{/faq}">FAQ</a>
                <a th:href="@{/contato}">Contato</a>
            </nav>
        </div>
    </footer>
</body>
</html>