/** --------------------------------------------------------- */
/** Botao do index.html */
.smaller-btn{
    padding: 5px 10px;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--white);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.smaller-btn:hover {
    padding: 3px 8px;
    background-color: var(--dark-orange);
}

/** --------------------------------------------------------- */
/** Small */
.small-btn{
    color: var(--white);
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    font-size: 17px;
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--blue);
    border: 1px solid var(--light-blue);
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0px 6px 0px var(--dark-blue);
    transition: all 0.1s;
    overflow: hidden;
}

.small-btn:hover {
  box-shadow: 0px 2px 0px var(--dark-blue);
  position: relative;
  top: 2px;
}

/** --------------------------------------------------------- */
/** Botao grande */
.big-btn {
    color: var(--white);
    width: 70vh;
    height: 8vh;
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    font-size: 17px;
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--blue);
    border: 1px solid var(--light-blue);
    border-radius: 100px;
    box-shadow: 0px 6px 0px var(--dark-blue);
    transition: all 0.1s;
    overflow: hidden;
}

/** --------------------------------------------------------- */
/** area do botao das atividades */
.botoes-atividades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

    gap: 10px;
}

.animated-button {
    color: var(--white);
    position: relative;
    display: inline-block;
    /* padding: 12px 250px; */
    width: 70vh;
    height: 7vh;
    font-size: 20px;
    background-color: var(--dark-orange);
    border: 1px solid var(--light-orange);
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0px 6px 0px var(--super-dark-orange);
    transition: all 0.1s;
    overflow: hidden;
}


/** animacao de quando passa o mouse em cima */
.animated-button:hover {
    box-shadow: 0px 2px 0px var(--dark-orange);
    position: relative;
    top: 2px;
}

.animated-button.used {
    border: 1px solid var(--light-orange) !important; 
    background-color: #c26018 !important;
    cursor: not-allowed;
    opacity: 0.5;
}

/** --------------------------------------------------------- */
/** Lacuna  */
.lacuna-button {
    color: var(--white);
    position: relative;
    display: inline-block;
    padding: 3px 6px;
    width: auto;
    height: 7vh;
    font-size: 20px;
    background-color: var(--dark-orange);
    border: 1px solid var(--light-orange);
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0px 6px 0px var(--super-dark-orange);
    transition: all 0.1s;
    overflow: hidden;
}


/** animacao de quando passa o mouse em cima */
.lacuna-button:hover {
    box-shadow: 0px 2px 0px var(--dark-orange);
    position: relative;
    top: 2px;
}

.lacuna-button.used {
    border: 1px solid var(--light-orange) !important; 
    background-color: #c26018 !important;
    cursor: not-allowed;
    opacity: 0.5;
}

/** --------------------------------------------------------- */
/** area q abre qnd clica no botao */   
.area-collapse-custom {
    width: 85%;
    max-width: 700px;
    height: 200px;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

.tooltip {
    color: white;
    font-size: 1.2em;
}
