/** --------------------------------------------------------- */
/** Botao do index.html */
.smaller-btn{
    padding: 5px 10px;
    border: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--blue);
    color: var(--white);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.smaller-btn:hover {
    padding: 3px 8px;
    background-color: var(--dark-orange);
}

/** --------------------------------------------------------- */
/** Small */
.small-btn{
    --primary-color: var(--blue);
    --secondary-color: var(--white);
    --hover-color: var(--dark-blue);
    box-sizing: border-box;
    border: 0;
    border-radius: 50px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: normal;
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
}
.small-btn:hover {
    background-color: var(--hover-color);
    position: relative;
    top: 2px;
}

/** --------------------------------------------------------- */
/** Botao grande */
.big-btn {
    color: var(--white);
    width: 70vh;
    height: 8vh;
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    font-size: 17px;
    font-family: "Roboto Condensed", sans-serif;
    background-color: var(--blue);
    border: 1px solid var(--light-blue);
    border-radius: 100px;
    box-shadow: 0px 6px 0px var(--dark-blue);
    transition: all 0.1s;
    overflow: hidden;
}

/** --------------------------------------------------------- */
/** area do botao das atividades */
.botoes-atividades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

    gap: 10px;
}

.animated-button {
    width: 70vh;
    --primary-color: var(--dark-orange);
    --secondary-color: var(--white);
    --hover-color: var(--super-dark-orange);
    box-sizing: border-box;
    border: 0;
    border-radius: 50px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-size: larger;
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;
}

/** animacao de quando passa o mouse em cima */
.animated-button:hover {
    background-color: var(--hover-color);
    position: relative;
    top: 2px;
}

.animated-button:active {
        position: relative;
    top: 2px;
}

/** --------------------------------------------------------- */
/** Lacuna  */
.lacuna-button {
    --primary-color: var(--dark-orange);
    --secondary-color: var(--white);
    --hover-color: var(--super-dark-orange);
    box-sizing: border-box;
    border: 0;
    border-radius: 50px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-size: larger;
    font-family: "Roboto Condensed", sans-serif;
    cursor: pointer;

    margin: 5px;
    display: flex;
    justify-content: center; /* centraliza na horizontal */
    align-items: center;    /* centraliza na vertical */
    text-align: center;     /* garante centralização do texto */
}


/** animacao de quando passa o mouse em cima */
.lacuna-button:hover {
    background-color: var(--hover-color);
    position: relative;
    top: 2px;
}

.lacuna-button.used {
    border: 1px solid var(--light-orange) !important; 
    background-color: #c26018 !important;
    cursor: not-allowed;
    opacity: 0.5;
}

/** --------------------------------------------------------- */
/** area q abre qnd clica no botao */   
.area-collapse-custom {
    width: 85%;
    max-width: 700px;
    height: 200px;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

.tooltip {
    color: white;
    font-size: 1.2em;
}
